<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/send" method="post">
    <label for="dest">destinataire</label>
    <input type="text" name="dest" value="" #dest>
    <br/><br/>
    <label for="title">taper titre message</label>
    <input type="text" name="title" value="" #title>
    <br/><br/>
    <label for="message">taper message</label>
    <textarea name="message" id="message" cols="30" rows="10"></textarea>
    <br/><br/>
    <button type="submit">ok</button>
  </form>
</body>
</html>
