<!DOCTYPE html>
<html>
  <head>
    <title>Todolist temps reel !</title>
  </head>
  <body  ></H1>TodoListe TR !!</H1>
    <br/>
    <section id="todo">
    </section>

    <div class="" style="width:100%" >
      <input type="text" name="message" id="message" placeholder="entrer une tache"/>
      <input type="button" value="envoyer" onclick="addTask()"/>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        var socket = io.connect(<%-JSON.stringify(mon_ip_port)%>);

        socket.on('connected',function(taches){
          var tachesALoader = taches.toString().split(',');
          if(taches.length > 0){
            tachesALoader.forEach(function(tache){
              document.getElementById("todo").innerHTML += '<p id=\''+tache+'\'><input type="button" value="X" onclick="removeTask(\''+tache+'\')" \/>  '+tache+'</p>';
            });
          }
        });
        socket.on('add',function(tache){
          tache = decodeURI(tache);
          document.getElementById("todo").innerHTML += '<p id=\''+tache+'\'><input type="button" value="X" onclick="removeTask(\''+tache+'\')" \/>  '+tache+'</p>';
        });
        socket.on('remove',function(tache){
          tache = decodeURI(tache);
          document.getElementById(tache).parentNode.removeChild(document.getElementById(tache));
        });

        function removeTask(task){
          socket.emit('remove',task);
        }
        function addTask(){
          var tache = document.getElementById('message').value;
          if(tache != ""){
            socket.emit('add',tache);
            document.getElementById('message').value = "";
          }
        }

    </script>

  </body>
</html>
